<html>
    <head>
        {% load staticfiles %}
        <title>{% block title %}WordScheme{% endblock %}</title>
	    <meta charset="utf-8" />
	    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

        <link href="{% static "website/css/bootstrap.min.css" %}" rel="stylesheet" />
        <link href="{% static "website/css/font-awesome.min.css" %}" rel="stylesheet" />
        <link href="{% static "website/css/animate.min.css" %}" rel="stylesheet" />
        <link href="{% static "website/css/style.min.css" %}" rel="stylesheet" />
        <link href="{% static "website/css/style-responsive.min.css" %}" rel="stylesheet" />
        <link href="{% static "website/css/blue.css" %}" id="theme" rel="stylesheet" />
        <link href="{% static "website/css/main.css" %}" rel="stylesheet" />

    </head>
    <body>
        {% include "website/nav.html" %}

        <div class="app-content-main">
            {% block content %}
            {% endblock %}
        </div>

    <script src="{% static "website/js/jquery-1.9.1.min.js" %}"></script>
    <script src="{% static "website/js/bootstrap.min.js" %}"></script>
    <script src="{% static "website/js/scrollMonitor.js" %}"></script>
    <script src="{% static "website/js/apps.min.js" %}"></script>
    <script src="{% static "website/js/main.js" %}"></script>
	<script>    
	    $(document).ready(function() {
	        App.init();
	    });
	</script>
</body>
</html>
