{% extends "website/base.html" %}

{% block content %}

<div id="guild-list">
    <p>Here you can manage your guild memberships and <a href="#">form new guilds.</a></p>
    <br />
    <nav id="guilds-nav-tabs" class="sitenav-tabs">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#member">Member</a></li>
            <li role="presentation"><a href="#leader">Leader</a></li>
        </ul>
    </nav>   

    <div id="guilds-listing">
        <br />
        <div id="guilds-member">
            <h3>Member of</h3>
            <ul>
                {% for guild in memberships %}
                <li><a href="{% url 'guild_info' guild.guild_id.guild_id %}">{{ guild.guild_id }}</a></li>
                {% empty %}
                <li>You have no guild memberships.</li>
                {% endfor %}
            </ul>
        </div>
        <div id="guilds-leader">
            <h3>Leader of</h3>
            <ul>
                {% for guild in leadership %}
                <li>{{ guild.guild_name }}</li>
                {% empty %}
                <li>You do not lead any guilds.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
