{% extends "website/base.html" %}

{% block content %}

<h2 style="display:inline-block">{{ guild.name }}</h2> {% if current_user == guild.leader %}<a href="{% url 'guild_edit' guild.id %}">(edit)</a> <a href="{% url 'guild_disband' guild.id %}">(disband)</a>{% endif %}
<p>Leader: {{ guild.leader }}</p>
<p>Founded: {{ guild.date }}</p>
<p>Description: {{ guild.description }}</p>
<p>Membership is <b>public.</b> {% if userInGuild %}<a href="{% url 'guild_leave' guild.id %}">Leave guild.</a>{% else %}<a href="{% url 'guild_join' guild.id %}">Join guild.</a>{% endif %}</p>
<h4>Members ({{ members|length }})</h4>
{% for member in members %}
<li><a href="{% url 'profiles' member.user_id %}">{{ member.user_id }}</a></li>
{% empty %}
<li>No members in this guild. How did that happen?</li>
{% endfor %}

{% endblock %}
