{% extends "website/base.html" %}

{% block content %}

<div id="user-banner">
    <span id="user-banner-portrait"></span>
    <span id="user-banner-username">{{ reqUser.username }}</span>
    <button class="follow" onclick="(function(el){$(el).toggleClass('following').toggleClass('follow');})(this)">Follow</button>
</div>

<br />
<ul class="nav nav-tabs" id="user-nav-tabs">
    <li role="presentation" class="active"><a href="#bio">User Info</a></li>
    <li role="presentation"><a href="#articles">Articles</a></li>
    <li role="presentation"><a href="#comments">Comments</a></li>
    <li role="presentation"><a href="#following">Following</a></li>
</ul>

<div id="user-profile">
    <div id="user-bio">
        <h2>User Information</h2>
        <div><span class="bio-bold">Name:</span> <span>{{ reqUser.first_name }} {{ reqUser.last_name }}</span></div>
        <div><span class="bio-bold">Registered:</span> <span>{{ reqUser.date_joined }}</span></div>
        <div><span class="bio-bold">Articles written:</span> <span>{{ allArticles|getlength }}</span></div>
        <div><span class="bio-bold">About me:</span> <span><i>There's nothing here...</i></span></div>
    </div>

    <div id="user-latest-articles">
        <h2>Latest public articles</h2>

        {% if allArticles|getlength > 0 %}
        <ol>
            {% for article in allArticles %}
            <li><a href="{% url 'articles' article.urlname %}">{{ article.subject }}</a></li>
            {% endfor %}
        </ol>
        {% else %}
        <p>{{ reqUser.username }} hasn't written anything yet.</p>
        {% endif %}
    </div>

    <div id="user-latest-comments">
        <h2>Latest public comments</h2>

        {% if allComments|getlength > 0 %}
        <ol>
            {% for comment in allComments %}
            <li><a href="#">{{ comment.comment_text }}</a></li>
            {% endfor %}
        </ol>
        {% else %}
        <p>{{ reqUser.username }} hasn't commented on anything yet.</p>
        {% endif %}
    </div>

    <div id="user-latest-following">
        <h2>Following</h2>

        {% for user in following %}
        {% include "website/following_card.html" %}
        {% empty %}
        <p>{{ reqUser.username }} is not following anyone.</p>
        {% endfor %}
    </div>
</div>


{% endblock %}
