{% block card %}

<div class="article-card">
    <div class="article-card-header">
        <span class="article-card-subject"><a href="{% url 'articles' article.id %}">{{ article.subject }}</a></span> by <span class="article-card-author"><a href="{% url 'users' article.user_id %}">{{ article.user_id }}</a></span>
        <div class="article-card-date"><p>Authored on {{ article.date }}</p></div>
        <div class="article-card-comments">{% if commentCounts %}{{ commentCounts|lookup:article.id }} comments{% endif %}</div>
    </div>
    <div class="article-card-preview"><p>{{ article.preview }} ...</p></div>
</div>

{% endblock %}
