{% extends "website/base.html" %}

{% block content %}

<a class="return-link" href="{% url 'main' %}">Back</a>

<div class="article">
    <span class="article-title">{{ article.subject }}</span> by <a href="{% url 'profiles' article.user_id %}">{{ article.user_id }}</a>
    <div class="article-text">{{ article.article_text }}</div>
</div>

<h3>Comments</h3>
{% if comments %}
    {% for comment in comments %}
    <div class="comment">
        <p><b>{{ comment.user_id }}</b> on {{ comment.date }} said:</p>
            <div class="comment-text">{{ comment.comment_text }}</div>
    </div>
    {% endfor %}
{% else %}
    <p>No one has commented yet.</p>
{% endif %}

<p><u>Leave feedback</u></p>
<form method="POST" action="{% url 'new_comment' article.id %}">
    {% csrf_token %}
    {{ comment_form }}
    <br />
    <input type="submit" value="Submit" />
</form>
<br />

{% endblock %}
