{% block card %}
<div class="article-card">
    <div class="article-card-header">
        <span class="article-card-subject"><a href="{% url 'website:articles' article.id %}">{{ article.subject }}</a></span> by <span class="article-card-author"><a href="{% url 'website:users' article.user_id %}">{{ article.user_id }}</a></span>
        <div class="article-card-date"><p>Authored on {{ article.date }}</p></div>
        <div class="article-card-comments">{{ commentCounts|lookup:article.id }} comments</div>
    </div>
    <div class="article-card-preview"><p>{{ article.preview }} ...</p></div>
</div>
{% endblock %}
