{% extends "website/base.html" %}

{% block content %}

{% if username %}
<p>Welcome, {{ username }}. 
{% else %}
<p>Welcome. 
{% endif %}
This is the WordScheme main interface.</p>

{% if latest_articles %}
<p>Here are your five latest articles.</p>
<ol>
    {% for article in latest_articles %}
    <li><a href="{% url 'website:articles' article.id %}">{{ article.subject }}</a></li>
    {% endfor %}
</ol>
{% else %}
<p>You haven't written anything yet.</p>
{% endif %}

<p>Get started on a <a href="{% url 'website:new_article' %}">new article!</a></p>

{% endblock %}
