{% extends "website/base.html" %}

{% block content %}

{% if current_user %}
<p>Welcome, {{ current_user }}. 
{% else %}
<p>Welcome. 
{% endif %}
This is the WordScheme main interface. Why not get started on a <a href="{% url 'website:new_article' %}">new article?</a></p>

<div id="latest-articles">
    {% if latestArticles %}
    <h2>What's new in the community?</h2>
        {% for article in latestArticles %}
            {% include "website/article_card.html" %}
        {% endfor %}
    {% else %}
    <p>No latest articles found.</p>
    {% endif %}
</div>

{% endblock %}
