$break-tablet: 767px;
$nav-bg-color: #2f2f2f;
$nav-fg-color: #fff;

@mixin under-tablet-width($prop, $val) {
    @media screen and (max-width: $break-tablet) {
        #{$prop}: $val;
    }
}

body {
    background-color: #fff;
    font-size: 14px;
}

p { font-size: 14px; }

.app-content-main {
    margin: 0 auto;
    padding: 100px 2em 2em 2em;
}

.article {
    margin-bottom: 2em;
}

.article-card {
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
}

.article-card-comments {
    position: absolute;
    top: 10px;
    right: 10px;
}

.article-card-header {
    background-color: #f1f1f1;
    padding: 0.75em;
    position: relative;
}

.article-card-author { font-size: 1.1em; }
.article-card-date p { font-size: 0.75em; }
.article-card-preview { padding: 0.75em; }
.article-card-subject { font-size: 1.75em; }

.article-text {
    padding: 1em;
    font-size: 1.2em;
    border: 1px solid gray;
    border-radius: 3px;
}

.article-title {
    font-size: 2em;
}

.comment {
    background-color: whitesmoke;
    margin: 1em;
    padding: 0.5em 1em 1em 1em;
}

.comment-text {
    padding: 0.5em;
}

#navigation {
    background-color: $nav-bg-color;
    /*
    position: fixed;
    top: 0;
    right: 0;
    left: 0; */
}

#nav-hamburger { margin: 10px; }

#navbar-collapse-content a {
    color: $nav-fg-color;
    text-transform: uppercase;
}

#navbar-collapse-content a:focus, #navbar-collapse-content a:hover {
    background-color: $nav-bg-color;
    color: $nav-fg-color;
    text-decoration: underline;
}

.navbar-nav .dropdown-menu {
    background-color: $nav-bg-color;
}

.navbar-nav .dropdown-menu > li > a, .navbar-nav .dropdown-menu > li > a:hover {
    color: $nav-fg-color;
}

.navbar-nav .open .dropdown-menu > li > a { color: #fff; }

.nav .open > a, .nav .open > a:focus, .nav .open a:hover {
    background-color: $nav-bg-color;
    text-decoration: none;
}

#navbar-collapse-content {
    background-color: $nav-bg-color;
}

#nav-links a:hover { color: #59b3ff; }

#nav-logo {
    line-height: 18px;
    color: $nav-fg-color;
}

#nav-right-dropdown { margin-right: 90px; }

.return-link { float:right; }

#search-form-group > input { min-width: 250px; }
#search-form-group > button { display: none; }

#user-banner {
    margin: -50px -2em 0 -2em;
    height: 250px;
    background: linear-gradient(#e1e1e1, #bfbfbf);
    padding: 1em;
    @include under-tablet-width(height, 175px);
}

#user-banner-portrait {
    background-color: #000;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 100px;
    position: absolute;
    right: 10%;
    @include under-tablet-width(padding, 50px);
}

#user-banner-username {
    color: #fff;
    font-size: 2em;
    background: #000;
    padding: 6px;
    margin-left: 3em;
    @include under-tablet-width(margin-left, 1em);
}

#user-latest-articles,
#user-latest-comments {
    display: none;
}
